<div id="wrapper" class="container">
    <div class="jumbotron jumbotron-fluid">
        <div id="header">
            <h1 class= "display-4">The Latest Headline News!</h1>
            <p class="lead">Brought to you by: Reddit</p>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="saved">Saved</a>
            </li>
        </ul>
        <ul class="nav ml-auto">
            <li><a href="/scrape"><button class="btn btn-light ml-auto">Scrape Articles</button></a>
            <a href="/delete"><button class="btn btn-light ml-auto">Delete Articles</button></a></li>
        </ul>
    </nav>
     <div id="article-section" class="shadow-lg">
        <div id="articles">
            <center>
                <div id="nothing">Want NEWS? <br>Click the "Scrape Articles" Button!</div>
            <hr>
            <h2>Trending News Articles</h2>
            </center>
        </div>       
<div class="row" id="second-row">
    <div class="col-md-12">
    {{#if articles}}
    <ol>
      {{#each articles}}
        <li>
          Title: {{title}}<br>
          <button data-articleID="{{_id}}" class="change-save btn btn-warning" data-status="{{isSaved}}">
          {{#if isSaved}}
            Unsave Article
          {{else}}
            Save Article
          {{/if}}
        </button><br>
          Link: {{link}}<br>
          Summary: {{summary}}<br><br>
        </li>
      {{/each}}
    </ol>
    {{else}}
      <h2 align="center">No articles are available now.</h2>
    {{/if}}
    </div>
  </div>
</div>